
.custom-toast {
    background-color: #333;
    color:orangered;
  }
  
  .custom-toast-body {
    font-size: 16px;
  }
  
  .custom-toast-progress {
    background-color: orangered; /* Change la couleur de la barre de progression */
  }
  